@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Coloquy Queries: Tools and Games for Words</h1>
    <h2>Select which tool you'd like to use by using the navbar above or selecting from below:</h2>
    <h4><a href="/wordcounter">Word Counter</a></h4>
    <h4><a href="/scrabble">Scrabble Points</a></h4>
  </div>