@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Coloquy Queries: Tools and Games for Words</h1>
    <h2>Select which tool you'd like to use:</h2>
    <h3><a href="/wordcounter">Word Counter</a></h3>
  </div>