@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Word Counter</h1>
    <h2>Welcome to the Word Counter.</h2>
    <h3>If you're looking to see how many times a certain letter, word, or phrase pops up in a sentence, you're in the right place!</h3>

    <form action="/wordcounter/solution" method="post">
        <div class="form-group">
            <label for="word">Enter your letter, word, or phrase to search for here:</label>
            <input type="text" class="form-control" name="word" id="word" placeholder="chicken">
        </div>
        <div class="form-group">
            <label for="phrase">Enter your sentence to search through here:</label>
            <input type="text" class="form-control" name="phrase" id="phrase" placeholder="I love chicken, and chicken loves me.">
        </div>
        <button type="submit" class="btn btn-info">How many times??</button>
    </form>

    <p><a href="/wordcounter/searched">See previous searches</a></p>
  </div>