@{
  Layout = "_Layout";
}

<div class="container">
    <h1>Word Counter</h1>
    <div class="row">
        <div class="col">
            <h2>You've searched the following words:</h2>
            <ul>
                @foreach (var item in Model) {
                    <li>@(item.Key)</li>
                }
            </ul>
        </div>

        <div class="col">
            <h2>You've searched in the following phrases:</h2>
            <ul>
                @foreach (var item in Model)
                {
                    <li>@(item.Value)</li>
                }
            </ul>
        </div>
    </div>
</div>
