@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Word Counter</h1>
    <p>Your word <strong>@Model.GetUserWord()</strong> showed up in the phrase <strong>@Model.GetUserPhrase()</strong> 
    a total of <strong>@Model.GetTotalCount()</strong> times.</p>
    <p><a href="/wordcounter">Go Again</a></p>
  </div>