@{
  Layout = "_Layout";
}

  <div class='container'>
    <h1>Word Counter</h1>
    <h2>Your word @Model.GetUserWord() showed up in the phrase @Model.GetUserPhrase() a total of @Model.GetTotalCount() times.</h2>
    <h3><a href="/wordcounter">Go Again</a></h3>
  </div>